<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>DH Sports</title>
</head>
<body>
<header>
    <a href="/">
        <img src="\img\logo-pi.jpeg" alt="Logo Hexa Sports" class="logo" >
     </a>
     <section>
         <input type="text" name="" id="texto-buscar" placeholder="Procurar">
         <a href="/">
         <img src="\img\lupa_buscar.jpg" alt="Buscar" class="lupa">
         </a>
    </section>
     <nav>
        <ul>
            <li><a href="./" class="link-header">HOME</a></li>
            <li><a href="./produtos" class="link-header">PRODUTOS</a></li>
            <li><a href="./sac" class="link-header">FALE CONOSCO</a></li>
            <li><a href="./login">
                <img src="/img/login.png" alt="login" class="login">
            </a>
            </li>
            <li><a href="./carrinho">
                <img src="/img/bag.png" alt="carrinho" class="carrinho">
            </a>
            </li>
        </ul>
     </nav>
</header>
<div>
 <h1>Já sou cadastrado</h1>
 <input type="email" placeholder= "Endereço de email">
 <br><br>
 <input type="password" placeholder="Senha">
 <br><br>
 <button>Enviar</button>
 <br><br>
 <h5>Esqueci minha senha</h5>
</div>
<div class="cadastro">
   <h1>Não sou cadastrado</h1>
   <input type="text" placeholder="Nome completo">
   <br><br>
   <input type="email" placeholder="Email">
   <br><br>
   <input type="password" placeholder="Senha">
   <br><br>
   <input type="password" placeholder="Confirmar senha">
   <br><br>
   <input type="date" placeholder="Data de nascimento">
   <br><br>
   <button>Confirmar</button>
</div>
<footer>
   <footer class="geral">
   <div class="container-main-footer">
   <div class="container-footer">
   <p class="p-footer">Cadastre-se para receber nossa newsletter</p>
   <input type="text" name="news" class="input-footer">
   <button class="bt-footer">Cadastrar</button>
 </div>
 <div>
   <p class="titulo">Categorias</p>
   <p class="itens">Masculino</p>
   <p  class="itens">Feminino</p>
   <p  class="itens">Infantil</p>
   <p  class="itens">Esportes</p>
   <p  class="itens">Acessórios</p>
 </div>
 <div>
   <p class="titulo">Ajuda</p>
   <p  class="itens">Central de ajuda</p>
   <p  class="itens">Status da compra</p>
   <p  class="itens">Devoluções e garantias</p>
   <p  class="itens">Nosso contato</p>
 </div>
 <div>
   <p class="titulo">Sobre nós</p>
   <p  class="itens">Trabalhe conosco</p>
   <p  class="itens">Tecnologia e inovação</p>
   <p  class="itens">Conheça nossa hitória</p>
 </div>
 </div>
</footer>
</body>
</html>