@import url('https://fonts.googleapis.com/css2?family= Montserrat: família= Montserrat:ital,wght@0,100;0,800;1,400 &família= Roboto:wght@100;700 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

#main-carrinho {
    margin: 180px 0 100px 0;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#main-carrinho>h2 {
    text-align: center;
    margin-bottom: 50px;
}

.texto-carrinho-vazio {
    text-align: center;
}

#container-tabela {
    display: flex;
    justify-content: space-between;
}

#tabela-carrinho {
    width: 70%;
}

.img-carrinho {
    width: 80px;
}

#resumo-carrinho {
    width: 25%;
    background-color: rgb(224, 232, 232);
    padding: 20px;
}

#resumo-carrinho div {
    margin: 10px 0;
}

.btn {
    padding: 10px 8px;
    width: 120px;
    color: rgb(8, 8, 8);
    background: dodgerblue;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: background 1s;
}

.btn:hover {
    background: rgb(224, 232, 232);
}

.botao {
    right: 300px;
    padding: 10px 8px;
    width: 120px;
    color: rgb(8, 8, 8);
    background: dodgerblue;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: background 1s;
    
}

.botao:hover {
    background: rgb(224, 232, 232);
}