header {
    background-color:rgb(224, 232, 232);
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

footer.geral {
    background-color:rgb(224, 232, 232);
    height: 500px;
    padding-top: 100px;
    width: 100%;
}