@import url('https://fonts.googleapis.com/css?family=Montserrat:400, 700&display=swap');

*{
    margin: 0;
    padding: 0;
        
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #201b2c);
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*NOME ÁREA DO CLIENTE*/
.left-login>h1 {
    font-size: 3vw;
    color: black;
    position: relative;
    top: 50px;
    left: 50px;

}
.left-login-image{
    width: 35vw;
}

.right-login {
    width: 50vw; /*Largura da caixa do form*/
    /*height: 100vh; */
    display: flex; /*Segura o form onde ele está, abaixo do header*/
    justify-content: center; /*Segura o form onde ele está, mais a esquerda*/
    align-items: center; /*Segura a altura do form*/
}
/*ÁREA DO LOGIN*/
.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: white;
    font-weight: 800;
    margin: 0
}
/*Input usuário e senha*/
.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
/*INPUT USUÁRIO E SENHA*/
.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label {
    color: #f0ffffde;
margin-bottom: 20px;

}
.textfield > input::placeholder{
color: white;
}
/*BOTÃO INICIAR SESSÃO*/
.btn-login{
    width: 100%;
    text-align: center;
    height: 40px;
    margin: 25px; /*Distância do texto para as bordas*/
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: black;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    
}
@media only screean and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

