<footer>
    <footer class="geral">
        <div class="container-main-footer">
            <div class="container-footer">
                <p class="p-footer">Cadastre-se para receber nossa newsletter</p>
                <input type="text" name="news" class="input-footer">
                <button class="bt-footer">Cadastrar</button>
            </div>
            <div>
                <p class="titulo">Categorias</p>
                <p class="itens">Masculino</p>
                <p class="itens">Feminino</p>
                <p class="itens">Infantil</p>
                <p class="itens">Esportes</p>
                <p class="itens">Acessórios</p>
            </div>
            <div>
                <p class="titulo">Ajuda</p>
                <p class="itens">Central de ajuda</p>
                <p class="itens">Status da compra</p>
                <p class="itens">Devoluções e garantias</p>
                <p class="itens">Nosso contato</p>
            </div>
            <div>
                <p class="titulo">Sobre nós</p>
                <p class="itens">Trabalhe conosco</p>
                <p class="itens">Tecnologia e inovação</p>
                <p class="itens">Conheça nossa hitória</p>
            </div>
        </div>
    </footer>