<nav class="nav-adm">
    <ul>
        <li><a href="#">Pedidos</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Produtos</a></li>
        <li class="selected"><a href="#">Usuarios Admin</a></li>
    </ul>
</nav>