<header>
    <a href="/">
        <img src="\img\logo-pi.jpeg" alt="Logo Hexa Sports" class="logo">
    </a>
    <section>
        <input type="text" name="" id="texto-buscar" placeholder="Procurar...">
        <a href="/produtos">
            <img src="\img\lupa_buscar.jpg" alt="Buscar" class="lupa">
        </a>
    </section>
    <nav>
        <ul>
            <li><a href="/" class="link-header">Início</a></li>
            <li><a href="/produtos" class="link-header">Produtos</a></li>
            <li><a href="/sac" class="link-header">Fale conosco</a></li>
            <li><a href="/login">
                    <img src="/img/login.png" alt="login" class="login">
                </a>
            </li>
            <li><a href="/carrinho">
                    <img src="/img/bag.png" alt="carrinho" class="carrinho">
                </a>
            </li>
        </ul>
    </nav>
</header>